{{>_log}}
<h2>Músicas</h2>

<div class="row">
  {{#each musicas}}
  <div class="col-12 col-sm-6 col-md-4 mt-4">
    <a href="/musica/{{slug}}" class="card-link">
      <div class="card">
        {{!-- <img src="/img/{{imagem}}" class="card-img-top" alt="{{titulo}}"> --}}
        <div class="card-body">
          <h5 class="card-title">{{titulo}}</h5>
          {{#if idAlbum}}
          <p class="card-title">{{idAlbum.titulo}}</p>
          {{else}}
          <p class="card-title">Sem album</p>
          {{/if}}
        </div>
      </div>
    </a>
  </div>
  {{else}}
  <h4>Nenhuma música adicionada</h4>
  {{/each}}
</div>